body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Cabeçalho*/
.header {
    padding: 10px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}